@inject HttpClient Http

<div class="form-row">
    <div class="col-10">
        @if (!EsSoloLectura)
        {
            <DxSpinEdit @bind-Value="@Valor" ShowSpinButtons="@MostrarSpin"></DxSpinEdit>
        }
        else
        {
            <DxSpinEdit Value="0" ShowSpinButtons="@MostrarSpin" ReadOnly="true"></DxSpinEdit>
        }

    </div>
    <div class="col-2">
        <DxButton Text="..." RenderStyle="@ButtonRenderStyle.Danger" IconCssClass="fas fa-search"
                  Visible="@MostraBotonBusqueda"
                  Enabled="@HabilitaBotonBusqueda" Click="@(async (e)=> await BuscarPedidos())"
                  RenderStyleMode="@ButtonRenderStyleMode.Outline" />
    </div>

</div>

<BuscadorEmergente DataSource="ItemsABuscar" Columnas="ColumnasBuscador" Titulo="@TituloBuscador"
                   Visible="@PopupBuscadorVisible" onObjetoSeleccionado="@(async(o)=> await EnviarObjetoSeleccionado(o))" />

@code {

    [Parameter] public decimal Valor { get; set; } = 0;
    [Parameter] public bool EsSoloLectura { get; set; } = false;
    [Parameter] public bool MostraBotonBusqueda { get; set; } = false;
    [Parameter] public bool HabilitaBotonBusqueda { get; set; } = true;
    [Parameter] public bool MostrarSpin { get; set; } = true;
    [Parameter] public EventCallback<Compra> OnOCSeleccionada { get; set; }
    private Compra[] ItemsABuscar = null;
    private string[] ColumnasBuscador = new string[] { "NUMERO", "DES_PROVE" };
    private string TituloBuscador = "Listado de Pedidos";
    private bool PopupBuscadorVisible = false;
    private ButtonRenderStyle buttonRenderStyle = ButtonRenderStyle.Secondary;
    private async Task BuscarPedidos()
    {
        PopupBuscadorVisible = true;
        ItemsABuscar = await Http.GetFromJsonAsync<Compra[]>("api/Compras");
        await InvokeAsync(StateHasChanged);
    }

    public async Task EnviarObjetoSeleccionado(object compra)
    {
        var oc = (Compra)compra;
        PopupBuscadorVisible = false;
        await OnOCSeleccionada.InvokeAsync(oc);
    }

    private ButtonRenderStyle CambiarColorBorde()
    {
        if (HabilitaBotonBusqueda)
        {
            buttonRenderStyle = ButtonRenderStyle.Danger;
            return buttonRenderStyle;
        }

        return buttonRenderStyle;
    }
}
